  h1{
	color: white;
	font-size: 35px;
  }
   h2{
	color: white;
	font-size: 35px;
  }
   h3{
	color: white;
	font-size: 35px;
  }
   h4{
	color: white;
	font-size: 35px;
  }
     h5{
	color: white;
	font-size: 35px;
  }
     h6{
	color: white;
	font-size: 35px;
  }
  h7{
	color: white;
	font-size: 35px;
  }
   p{
	color: white;
	font-size: 35px;
  }

  #content {
  margin: 0px 122px 0px 5px;
  padding: 20px 10px 20px 10px;
  color: white;
  font-size:3px;
  }
   #nav {
  margin: 0px 122px 0px 5px;
  padding: 20px 10px 20px 10px;
  color: white;
  font-size:18px;
  }
  
  #paragraph1 {
	  border: 3px solid #FFFFFF

  }
  #paragraph23{
	  border: 3px solid #FFFFFF

  }
  #paragraph2 {
	  border: 3px solid #FFFFFF

  }
  #paragraph4 {
	  border: 3px solid #FFFFFF

  }
  #paragraph5 {
	  border: 3px solid #FFFFFF

  }
  #paragraph6 {
	  border: 3px solid #FFFFFF

  }